
.card{border: 2px solid black;background-color: rgb(240, 240, 240); display: flex; justify-content: center; align-items: center; margin-top: 20px; flex-direction: column; width: 324px; height: 470px;}
.card:hover{background-color: rgb(209, 209, 209);}

.card .btn{margin-bottom: 10px; width: 200px;}
.card .btn:hover{background-color: rgb(75, 75, 75);}

.card img{border: 2px solid black; width: 296px; height: 290px; margin-top: 5px;}