.grid-container{width: 91vw; height: 100vh; padding: 20px; display: grid; grid-template-columns: repeat(6,1fr); grid-template-rows: repeat(6,1fr); grid-gap: 2rem; margin-top: 0px;}
.first{grid-column: 1 / 6; grid-row: 1 / 6;background-color: rgb(36, 36, 36);}
.second,.third{ grid-column: 5 / 6w;background-color: rgb(36, 36, 36);}
.second{ grid-row: 1 / 4;}
.third{ grid-row: 4 / 6;}

.home img.Logo-Tela {width: 350px;display: block; margin-left: auto; margin-right: auto; margin-top: 5px; }

img.imagem3 {height: 218px;}